
div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    max-width: 40rem;

    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 2rem auto;
    max-width: 40rem;
  }
  
  div:hover {
    transform: scale(1.05);
  }
  
  img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }
  